.head{
  background-image:url("https://scontent.fmba3-1.fna.fbcdn.net/v/t1.0-9/62186821_426199251556673_7214900610322137088_n.jpg?_nc_cat=108&_nc_ht=scontent.fmba3-1.fna&oh=2371b8eb684f7fec99908dd284e3f734&oe=5D92D1EC");
  height:auto;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size:100% 100%;
  text-align: center;

};


 #logo{
   display: block;
   float: right;
   padding-left: 50%;
   background-color: grey;
   place-content:center;
 }

/* .img{
  display: block;
  float: right;
  padding-right:45%

} */;

body{
  background-color: green;

}

#wrapper{
  clear: both;
}

.about{
  text-align: center;
  margin-top: 5%;
}
